@font-face {
  font-family: "avantt";
  src: url('/assets/fonts/AvanttTRIAL-Regular-BF6721a86b1a848.otf');
  font-weight: 400;
}

@font-face {
  font-family: "avantt";
  src: url('/assets/fonts/AvanttTRIAL-Medium-BF6721a86adebb3.otf');
  font-weight: 600;
}

@import "tailwindcss";

*{
  font-family: "avantt" , sans-serif;
}

@theme {
  --color-green: #6FFFA8;
  --color-purple: #6621E9;
  --color-pink: #FFABC7;
  --color-blue: #026070;
  --color-gray: #F7F7F7;
  --color-light-black: #191423;
}